@{
    ViewData["Title"] = "Бой";
}

<div class="container">
    @if (ViewBag.GameStarted && ViewBag.CanFight && ViewBag.IsAlive)
    {
        <div class="row mt-3">
            <div id="playerNameDiv" class="col text-center alert alert-info me-2">@ViewBag.PlayerName</div>
            <div id="enemyNameDiv" class="col text-center alert alert-info">@ViewBag.EnemyName</div>
        </div>
        <div class="row">
            <div class="col text-center alert alert-info">Здоровье</div>
        </div>
        <div class="row">
            <div class="col text-center alert alert-info me-2">❤ @ViewBag.PlayerCurrentHp / @ViewBag.PlayerMaxHp</div>
            <div class="col text-center alert alert-info">❤ @ViewBag.EnemyCurrentHp / @ViewBag.EnemyMaxHp</div>
        </div>
        <div class="row">
            <div class="col text-center alert alert-info">Выбери место удара</div>
        </div>
        <div class="row">
            <div class="col alert alert-info">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioHit" id="head" value="Head" checked>
                            <label class="form-check-label" for="head">Голова</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioHit" id="body" value="Body">
                            <label class="form-check-label" for="body">Корпус</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioHit" id="groin" value="Groin">
                            <label class="form-check-label" for="groin">Пах</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioHit" id="legs" value="Legs">
                            <label class="form-check-label" for="legs">Ноги</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center alert alert-info">Выбери место блока</div>
        </div>
        <div class="row">
            <div class="col alert alert-info">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioBlock" id="headAndBody" value="Head|Body" checked>
                            <label class="form-check-label" for="headAndBody">Голова + корпус</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioBlock" id="bodyAndGroin" value="Body|Groin">
                            <label class="form-check-label" for="bodyAndGroin">Корпус + пах</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioBlock" id="groinAndLegs" value="Groin|Legs">
                            <label class="form-check-label" for="groinAndLegs">Пах + ноги</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioBlock" id="legsAndHead" value="Legs|Head">
                            <label class="form-check-label" for="legsAndHead">Ноги + голова</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="button" value="Подтвердить" class="btn btn-secondary col btn-lg text-center w-100" onClick="OnSubmitButtonClicked()">
        </div>
    }
    else if (ViewBag.GameStarted && ViewBag.IsAlive)
    {
        <div class="alert alert-info mt-3">Есть пара мгновений на то, чтобы восстановить дыхание. Приготовьтесь!</div>
        <div class="text-center d-grid gap-2">
            <input type="button" value="Обновить" class="btn btn-secondary btn-lg" onClick="document.location.reload(true)">
        </div>
    }
    else if (ViewBag.GameStarted)
    {
        <div class="alert alert-danger mt-3">Вы бились как лев, но удача была не на вашей стороне. Подлым приемом вас отправили в нокаут!</div>
        <div class="text-center d-grid gap-2">
            <input type="button" value="Обновить" class="btn btn-secondary btn-lg" onClick="document.location.reload(true)">
        </div>
    }
    else
    {
        <div class="alert alert-warning mt-3">Бой ещё не начался!</div>
        <div class="text-center d-grid gap-2">
            <input type="button" value="Обновить" class="btn btn-secondary btn-lg" onClick="document.location.reload(true)">
        </div>
    }
</div>

@section Scripts
{
    <script>
        async function OnSubmitButtonClicked() {
            const playerName = document.getElementById("playerNameDiv").textContent;
            const enemyName = document.getElementById("enemyNameDiv").textContent;
            const hit = document.querySelector('input[name="radioHit"]:checked').value;
            const block = document.querySelector('input[name="radioBlock"]:checked').value;

            const dataToSend = JSON.stringify({ "playerName": playerName, "enemyName": enemyName, "hit": hit, "block": block });

            const response = await fetch("/api/skirmish", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: dataToSend
            });

            if (response.status != "200")
                alert("Ошибка. Сервер вернул " + response.status);

            document.location.reload(true);
        }
    </script>
}